*{
    padding: 0;
    margin: 0;
    color: #2ec0f9;
    text-align: center;    
}

html, body {
    background-color:#b95f89;
}

.main-container {
    border: 4px solid #67aaf9;
    border-radius: 50px;
    margin: 2rem;
    background-color: #c4e0f9;
    padding: 1px;
}

nav, section, footer, aside, article, header {
    border: 2px solid #ffeedb;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

article, aside {
    width: 40%;
    display: inline-flex;
    height: 300px;
    padding: 1rem;
}
nav, footer, section {
    background-color: #ada8b6;
}